body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #002;
	background-image: url(../img/main/bg.jpg);
	-webkit-background-size: cover;
	background-size: contain;
	background-repeat: repeat;
}
/* header */
header {
	width: 100%;
	height: 100%;
	min-height: 640px;
	background-image: url(../img/main/header-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.HeaderText
{
	margin-top:10%;
	margin-right: 5%;
	float:right;
}
.Welcome
{
	font-size: 62px;
	font-family: 'Russo-one';
}
.Logo
{
	margin-left: 10%;
	font-family: BOLERO_S;
	color: #9dcd55;
	font-size: 120px;
}
/* end header */
.Description
{
	background-color: #111;
	width: 100%;
	height: 10%;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}
.DescriptionText
{
	display: block;
	margin: auto;
}
.mosaicflow
	{
		margin:0 0px 50px
	}
	.mosaicflow__column 
	{
 		float:left;
 	}
	.mosaicflow__item 
	{
		margin-top: 30px;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 30px;
		position:relative;
		border-style: solid;
		border-color: #222;
		border-width: 10px;
	}
	.mosaicflow__item img 
	{
		display:block;
		width:100%;
		max-width:500px;
		height:auto;
	}
h1, h2, h3 
{
	font-family: 'Russo-one', cursive;
	text-align: center;
}
h1 {font-size: 40px;}
h2 {font-size: 28px;}
@font-face 
{
    font-family: BOLERO_S; /* имя шрифта для CSS правил */
    src: local("BOLERO_S"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/BOLERO_S.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face 
{
    font-family: Russo-one; /* имя шрифта для CSS правил */
    src: local("Russo-one"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/Russo-one.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}